<li>
	<p>{{title}}</p>

	<button class="btn btn-sm btn-primary save-it" data-id="{{id}}">Save It!</button>
	<button class="btn btn-sm btn-primary delete-article" data-id="{{this.id}}">Delete!</button>

</li>
